@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes flash {
  0% {
    border-color: #5BACC3;
    background-color: #5BACC3;
  }
  50% {
    border-color: #393939;
    background-color: #393939;
  }
  100% {
    border-color: #5BACC3;
    background-color: #5BACC3;
  }
}
@keyframes flash {
  0% {
    border-color: #5BACC3;
    background-color: #5BACC3;
  }
  50% {
    border-color: #393939;
    background-color: #393939;
  }
  100% {
    border-color: #5BACC3;
    background-color: #5BACC3;
  }
}
* {
  margin: 0;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
}

h1, h2 {
  font-size: 60px;
  font-weight: 300;
}

h3 {
  font-size: 33px;
  font-weight: 300;
}

nav {
  font-size: 21px;
}
nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
}

p {
  font-size: 18px;
}

a {
  font-size: 21px;
  text-decoration: none;
}

.icon {
  min-width: 50px;
  max-width: 120px;
}

.background-icon {
  width: 120px;
  opacity: 0.25;
  padding: 20px;
}

.product-img {
  min-height: 240px;
  max-height: 550px;
  padding: 20px;
}

.price {
  margin: 0 auto;
  color: #5BACC3;
}

.nav-bar {
  padding: 1em 3vw;
  box-sizing: border-box;
  background-color: #FFF0ED;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  -moz-column-gap: 3em;
       column-gap: 3em;
}
.nav-bar > a {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  color: #393939;
}
.nav-bar > a img, .nav-bar > a h2 {
  display: inline-block;
}
.nav-bar nav {
  transform: translateY(-2px);
}
.nav-bar nav ul {
  justify-content: flex-end;
  -moz-column-gap: 2em;
       column-gap: 2em;
}
.nav-bar nav ul li a {
  color: #393939;
}
.nav-bar nav ul li:last-child a {
  color: #5BACC3;
  white-space: nowrap;
}
@media only screen and (max-width: 600px) {
  .nav-bar {
    flex-flow: column wrap;
  }
  .nav-bar nav {
    padding-left: 52px;
  }
  .nav-bar nav ul {
    flex-flow: column wrap;
    row-gap: 0.5em;
  }
}

.btn {
  position: relative;
  box-sizing: border-box;
  width: 180px;
  transform: translate(7px, 7px);
}
.btn a {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 15px 0;
  text-align: center;
  border: 2px solid #393939;
  color: white;
  text-transform: uppercase;
  transform: translate(-7px, -7px);
  transition: transform 150ms;
}
.btn::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  border: 2px solid #5BACC3;
  background-color: #5BACC3;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: width 150ms;
}
.btn:hover::before {
  -webkit-animation: flash 2.5s linear infinite;
          animation: flash 2.5s linear infinite;
}
.btn:active a {
  transform: translate(0px, 0px);
}

footer {
  position: relative;
  overflow: hidden;
  background-color: #FFF0ED;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  -moz-column-gap: 15%;
       column-gap: 15%;
  row-gap: 30px;
  padding: 5% 5vw 5% 12vw;
}
footer h3 {
  margin-bottom: 0.5em;
}
footer p, footer a {
  white-space: nowrap;
}
footer a {
  color: #393939;
  font-size: 18px;
  font-weight: 400;
}
footer span {
  font-weight: 700;
}
footer section:last-child div {
  display: flex;
  flex-wrap: nowrap;
}
footer .footer-top-left {
  position: absolute;
  top: 0;
  left: -60px;
}
footer .footer-bottom-right {
  position: absolute;
  bottom: 0;
  right: -60px;
}

.hero {
  padding: 5em 10vw;
  background-color: #FFF0ED;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 30px;
}
.hero__text h1, .hero__text p {
  max-width: 360px;
  margin-bottom: 2rem;
}
.hero__img img {
  width: 20vw;
  min-width: 150px;
}

.products {
  padding: 5em 0;
  background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5em;
}

.containers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  -moz-column-gap: 80px;
       column-gap: 80px;
  row-gap: 50px;
  margin: 0 50px;
}
.containers__card {
  position: relative;
  overflow: hidden;
  background-color: white;
  min-width: 330px;
  max-width: 350px;
  min-height: 440px;
  max-height: 460px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-rows: 6fr 1fr 1fr;
  grid-template-columns: 2fr 1fr;
  transition: box-shadow 150ms, transform 150ms;
  touch-action: manipulation;
  will-change: box-shadow, transform;
}
.containers__card img {
  grid-row: 1;
  grid-column: 1/3;
  margin: 0 auto;
}
.containers__card h3 {
  grid-row: 2;
  grid-column: 1;
}
.containers__card .pkg-qty {
  grid-row: 3;
  grid-column: 1;
  color: gray;
}
.containers__card .price {
  grid-row: 2/4;
  grid-column: 2;
  font-size: 33px;
  margin: auto 0;
  transition: rotate 150ms;
}
.containers__card div {
  position: absolute;
  background-color: #FFF0ED;
  width: 200%;
  height: 360px;
  z-index: -1;
  top: 300px;
  transition: transform 150ms;
}
.containers__card:hover {
  box-shadow: 0 5px 5px -1px rgba(0, 0, 0, 0.5), 0 10px 15px -1px rgba(0, 0, 0, 0.25);
  transform: translateY(-5px);
}
.containers__card:hover div {
  transform: skew(0, -35deg);
}
.containers__card:hover h3 {
  text-shadow: 1px 1px rgba(128, 128, 128, 0.5), 2px 2px rgba(128, 128, 128, 0.4), 3px 3px rgba(128, 128, 128, 0.3), 4px 4px rgba(128, 128, 128, 0.2), 5px 5px rgba(128, 128, 128, 0.1);
}
.containers__card:hover .price {
  rotate: -35deg;
}

.discount {
  margin: 10em 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10em;
}
.discount__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  row-gap: 50px;
}
.discount__info .different {
  display: flex;
  max-width: 460px;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 1.5em;
}
.discount__info .different div {
  display: flex;
  justify-content: space-between;
}
.discount__info .different div img {
  height: 50px;
}
.discount__info .tilted-can-box {
  position: relative;
  min-width: 300px;
  max-width: 500px;
  min-height: 300px;
  max-height: 500px;
  padding: 20px;
  border: 5px solid #5BACC3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.discount__info .tilted-can-box__bg {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.discount__info .tilted-can-box__can:hover {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
}
@media only screen and (max-width: 1200px) {
  .discount__info {
    justify-content: center;
    flex-flow: column wrap;
  }
}
.discount__code {
  width: 100%;
  font-size: 45px;
  padding: 1em 0;
  margin: 0 auto;
  text-align: center;
  -webkit-animation: flash 2.5s linear infinite;
          animation: flash 2.5s linear infinite;
  color: white;
  cursor: pointer;
}
.discount__code span {
  font-weight: 700;
}
@media only screen and (max-width: 600px) {
  .discount {
    margin: 0;
    padding: 10em 0;
  }
  .discount__info .different {
    padding: 0;
  }
  .discount__info .different h2, .discount__info .different p {
    text-align: center;
  }
  .discount__info .different div {
    margin: auto 10%;
  }
  .discount__info .different .btn {
    margin: 0 auto;
  }
  .discount__code {
    padding: 1em 0;
  }
}/*# sourceMappingURL=landing.css.map */